                          Task no 1

In [13]:
name=input("Enter your name")
age=int(input("Enter your age in years "))
print("Hello",[name],"your age",[age] ,"years old")

Enter your name sohail
Enter your age in years  22

Hello ['sohail'] your age ['22'] years old

                           Task no 2

In [19]:
length=float(input("Enter your length in numbers"))
width=float(input("Enter your width in numbers"))
arae=length*width
print("Arae of Rectangle is =",arae)

Enter your length in numbers 25
Enter your width in numbers 78

Arae of Rectangle is = 1950.0

                         Task no 3:

In [53]:
celcius=float(input("Enter the temperature in celcius"))
Fahrenhiet=(celcius*9/5)+32
print("temperature in Fahrenhiet=",Fahrenhiet)

Enter the temperature in celcius 989.21

temperature in Fahrenhiet= 1812.578

                         :Task no 4

In [61]:
price=float(input("Enter the item price in numbers"))
tax=float(input("Enter the sales tax of item in numbers "))
saletax=tax/100
listprice= saletax*price
totalcost=listprice+saletax
print("Total cost of item =",totalcost)

Enter the item price in numbers 23
Enter the sales tax of item in numbers  12

Total cost of item = 2.88